<h2>Your Trip</h2>
<form action="/auth/card-details" method="get">

        <label>Departure Date:
      <input type="date" name="departureDate" placeholder="Departure Date" />
    </label>
</form>
{{!-- {{TUDO DO CARD}}
{{TUDO ADICIONADO}} --}}

  <form action="/auth/profile" >
    <button type="submit" >BACK TO PROFILE</button>
    </form>