{{!--   { * currentImage */ } --}}
  
  <h2>Edit Card</h2>

<form action="/auth/edit-card/{{cardId}}" method="post">
    <label>Notes:
      <input type="notes" name="notes" placeholder="Notes" >
    </label>

        <label>Arrival Date
      <input type="date" name="arrivalDate" placeholder="Arrival Date" />
    </label>

        <label>Departure Date:
      <input type="date" name="departureDate" placeholder="Departure Date" />
    </label>

    <label> Trip highlight:
      <input type="favorites" name="favorites" placeholder="Best of the trip" />
    </label>

    
    <label> Cities I have been:
      <input type="cities" name="cities" placeholder="Visited cities" value="{{cities}}"/>
    </label>

    {{!-- PHOTO --}}
    
    <button type="submit" >UPDATE</button>
  </form>

  <form action="/auth/profile" >
    <button type="submit" >BACK TO PROFILE</button>
    </form>
</div>