<div class="login">
<div class="loginPage">
  <h1>TRACE YOUR ROAD</h1>
  <br />
  <br />
  <br />
  <h2>LOGIN</h2>
  <br />
  <div id="login-form">
    <form class="form" action="/auth/login" method="POST">
      <div>
        <label style="width: 100%;">
          <div>
            <br />
            <input
              class="labelLogin"
              type="email"
              name="email"
              placeholder="EMAIL"
            />
          </div>
        </label>
        <hr />
      </div>
      <br />
      <div>
        <label style="width: 100%">
          <div>
            <br />
            <input
              class="labelLogin"
              type="password"
              name="password"
              placeholder="PASSWORD"
            />
          </div>
        </label>
        <hr />
      </div>
      <br />
      <br />
      <div class="button">
        <button class="buttonLogin" type="submit">LOGIN</button>
      </div>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
  <br />



</div>


<div  >
  <br />
  <br />
  <br /><br /><br /><br/>
<h2>REGISTER</h2>
  <br />  <br />
<P class="labelLogin test">IF YOU STILL DON'T HAVE A <span style="font-weight: bolder">TRACEYOURROAD.COM</span> ACCOUNT, USE THIS OPTION TO ACCESS<br> THE REGISTRATION FORM.BY GIVING US YOUR DETAILS, <span style="font-weight: bolder">TRACE YOUR ROAD</span> WILL BE FASTER<br> AND AN ENJOYABLE EXPERIENCE.</P>
<br><br><br><br>
<div class="button">
  <a class="buttonLogin signUp" style="padding-top: 1.1rem;
    padding-bottom: 1.1rem;" href="/auth/signup">SIGN UP</a>
</div>
<br>
<div class="button" style="margin:0">
  <a class="buttonHomepage" href="/">BACK TO HOMEPAGE</a>
</div>

</div>
</div>