{{! { number of countries, percentage visited, countries list, user information } }}

<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
      </div>    
      <div class="container-fluid">
        <a class="navbar-brand" href="/edit-profile">Edit Profile</a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Logout</a>
      </div>
      <div>
        <form action="/auth/create-card" method="post">
         <select name="countries" >
        {{#each countries}}
        <option value="{{name.common}}">{{name.common}}</option>
        {{/each}}
         </select>
         <button type="submit">Add Country</button>
         </form>
</div>
</nav>
</nav>

