
<div class="login">
<div id="login-form" style="margin-left: 0">
  <div class="loginPage">
  <h1>TRACE YOUR ROAD</h1>
  <br />
  <br />
  <br />

  <h2>SIGN UP</h2>
  <br />
    <form action="/auth/signup" method="POST">
      <div>
        <label style="width: 100%;  ">
          <div style="margin-left: 0">
            <br />
            <input
              class="labelLogin"
              type="text"
              name="firstName"
              placeholder="FIRST NAME"
            />
          </div>
        </label>
        <hr />
      </div>
      <div>
        <label style="width: 100%">
          <div>
            <br />
            <input
              class="labelLogin"
              type="text"
              name="lastName"
              placeholder="LAST NAME"
            />
          </div>
        </label>
        <hr />
      </div>

      <div>
        <label style="width: 100%">
          <div>
            <br />
            <input
              class="labelLogin"
              type="email"
              name="email"
              placeholder="EMAIL"
            />
          </div>
        </label>
        <hr />
      </div>
      <div>
        <label style="width: 100%">
          <div>
            <br />
            <input
              class="labelLogin"
              type="password"
              name="password"
              placeholder="PASSWORD"
            />
          </div>
        </label>
        <hr />
      </div>
      <div>
        <label style="width: 100%">
          <div>
            <br />
            <input
              class="labelLogin"
              type="text"
              name="countryOfBirth"
              placeholder="COUNTRY OF BIRTH"
            />
          </div>
        </label>
        <hr />
      </div>
      <div>
        <label style="width: 100%">
          <div>
            <br />
            <input
              class="labelLogin"
              type="text"
              name="residence"
              placeholder="RESIDENCE"
            />
          </div>
        </label>
        <hr />
      </div>
      <br />
      <br />
      <div class="button">
        <button class="buttonLogin" type="submit">SIGN UP</button>
      </div>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
  <br />
</div>

<div>
  <br /><br /><br /><br/><br><br>
<h2>LOGIN</h2>
<br />  <br />
<p class="labelLogin test">ALREADY HAVE AN ACCOUNT? YOU DON'T NEED TO SIGN UP AGAIN, CLICK ON THE <br>BUTTON BELLOW TO THE LOGIN PAGE. <span style="font-weight: bolder">TRACE YOUR ROAD</span> AN ENJOYABLE EXPERIENCE.</P>
<br><br><br><br>
<div class="button">
  <a class="buttonLogin signUp" style="padding-top: 1.1rem;
    padding-bottom: 1.1rem;" href="/auth/login">LOGIN</a>
</div>
<br><br>
<div class="button">
  <a class="buttonHomepage" href="/">BACK TO HOMEPAGE</a>
</div>
</div>

</div>