<div class="loginPage">
  <br />
  <h1>COLOR YOUR ROAD</h1>
  <br />
  <br />
  <h2>SIGN UP</h2>
  <br />
  <div id="login-form">
    <form action="/auth/signup" method="POST">
      <div>
        <label>
          <div>
            <br />
            <input
              class="labelLogin"
              type="text"
              name="firstName"
              placeholder="FIRST NAME"
            />
          </div>
        </label>
        <hr />
      </div>
      <div>
        <label>
          <div>
            <br />
            <input
              class="labelLogin"
              type="text"
              name="lastName"
              placeholder="LAST NAME"
            />
          </div>
        </label>
        <hr />
      </div>

      <div>
        <label>
          <div>
            <br />
            <input
              class="labelLogin"
              type="email"
              name="email"
              placeholder="EMAIL"
            />
          </div>
        </label>
        <hr />
      </div>
      <div>
        <label>
          <div>
            <br />
            <input
              class="labelLogin"
              type="password"
              name="password"
              placeholder="PASSWORD"
            />
          </div>
        </label>
        <hr />
      </div>
      <div>
        <label>
          <div>
            <br />
            <input
              class="labelLogin"
              type="text"
              name="countryOfBirth"
              placeholder="COUNTRY OF BIRTH"
            />
          </div>
        </label>
        <hr />
      </div>
      <div>
        <label>
          <div>
            <br />
            <input
              class="labelLogin"
              type="text"
              name="residence"
              placeholder="RESIDENCE"
            />
          </div>
        </label>
        <hr />
      </div>
      <br />
      <div class="button">
        <button class="buttonLogin" type="submit">SIGN UP</button>
      </div>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
  <br />
</div>


      <div class="button">
        <form action="/">
        <button class="buttonLogin" type="submit">HOMEPAGE</button>
        </form>
      </div>
