<nav class="navIndex">
  <div class="elementsNavIndex">
    <span><h3>TRACE YOUR<br /> ROAD</h3></span>
    <ul class="liNavIndex">
      {{#if user}}
      <li>
        <a href="/auth/profile">Profile</a>
        <hr />
      </li>
      {{else}}
      <li>
        <a href="/auth/login">Login</a>
        <hr />
      </li>
      <li>
        <a href="/auth/signup">Sign Up</a>
        <hr />
      </li>
      {{/if}}


    </ul>
  </div>
</nav>

<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div style="margin-top:-6rem; display:relative;" class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/car5.jpeg" class="d-block w-100" alt="airplane" />
    </div>
    <div class="carousel-item">
      <img src="/images/car4.jpeg" class="d-block w-100" alt="bridge picture" />
    </div>
    <div class="carousel-item">
      <img src="/images/car2.jpeg" class="d-block w-100" alt="ny photo" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div>
<br><br><br><br>

<h3 style="text-align: center"><em>" welcome to our website"</em></h3>

<br><br><br><br>



</div>
{{!-- <div style="width:100%;height:0;padding-bottom:125%;position:relative;"><iframe
    src="https://giphy.com/embed/AErExHJVxRbkm5hPkB"
    width="100%"
    height="100%"
    style="position:absolute"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe></div> --}}

<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        style=""
        src="/images/car4.jpeg"
        class="d-block w-100"
        alt="airplane"
      />
    </div>
    <div class="carousel-item">
      <img src="/images/car1.jpeg" class="d-block w-100" alt="bridge picture" />
    </div>
    <div class="carousel-item">
      <img src="/images/car7.jpeg" class="d-block w-100" alt="ny photo" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>