 <nav class="navIndex">
  <div class="elementsNavIndex">
    <span><h3>TRACE YOUR<br /> ROAD</h3></span>
    <ul class="liNavIndex">
      {{#if user}}
      <li>
        <a href="/auth/profile">Profile</a>
        <hr />
      </li>
      {{else}}
      <li>
        <a href="/auth/login">Login</a>
        <hr />
      </li>
      <li>
        <a href="/auth/signup">Sign Up</a>
        <hr />
      </li>
      {{/if}}
    </ul>
  </div>
</nav>

<div class="imgHome">
<img class="imgHome" src="/images/Untitled design.gif" alt="">
</div>