<nav class="navIndex">
  <div class="elementsNavIndex">
    <span><h3>TRACE YOUR<br /> ROAD</h3></span>
    <ul class="liNavIndex">
      {{#if user}}
        <li>
          <a href="/auth/profile">PROFILE</a>
        </li>
      {{else}}
        <li>
          <a href="/auth/login">LOGIN</a>
        </li>
        <li>
          <a href="/auth/signup">SIGN UP</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>

<div class="imgHome">
  <img
    class="imgHome"
    src="/images/pics.gif"
    alt="gif of pictures in black and white of different countries"
  />
</div>