body {
  margin: 0;
  padding: 0;
}

/* _________NAV___________ */

.navIndex {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  position: relative;
  z-index: 2;
  margin-top: 1rem;
}

.elementsNavIndex {
  display: flex;
  justify-content: space-between;
}

.liNavIndex {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.liNavIndex a {
  padding-right: 10px;
  text-decoration: none;
  font-size: small;
  font-family: "Basier Square Narrow", sans-serif;
  color: black;
  text-align: center;
}

.navIndex h3 {
  font-family: "Tilson", sans-serif;
  font-size: 1.7rem;
  margin-top: auto;
  margin-bottom: auto;
}

.hrNavIndex {
  margin-top: 0;
  padding-top: 0;
}

/* ____________LOGIN AND SIGNUP__________ */

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: bolder;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

h2 {
  text-align: left;
  padding-left: 2.5rem;
  font-weight: lighter;
}

.buttonLogin {
  color: white;
  background-color: black;
  border: none;
  justify-content: center;
  padding: 1rem 8.3rem;
  font-weight: lighter;
}

.labelLogin {
  text-align: left;
  border: none;
  width: 100%;
  font-size: 0.6rem;
}

.button {
  text-align: center;
}

.form {
  width: 80%;
}

.buttonHomepage {
  text-align: left;
  border: none;
  width: 100%;
  font-size: 0.8rem;

  text-decoration: underline;
  color: black;
}

.buttonHomepage:hover {
  color: rgb(53, 52, 52);
}

/* CARDS */

.card-body {
  font-size: 0.5rem;
  padding: 0rem 0rem;
  font-family: "Basier Square Narrow", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 80%;
  justify-content: center;
  display: flex;
  position: static;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h3 {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}

.spanButtons {
  margin: 1rem;
  font-size: 0.8rem;
  background-color: none;
}

hr {
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
}

.textButtonEdit {
  padding: 1rem 5.5rem;
  background-color: black;
  color: white;
  border: none;
  font-family: "Tilson", sans-serif;
  text-align: center;
}

.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
}

#card-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 80%;
  justify-content: center;
  display: flex;
  position: static;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
} */

#card-img {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.cardHr {
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
}

.loginPage h1 {
  font-family: "Tilson", sans-serif;
}

.spanCard {
  color: rgb(89, 89, 89);
  font-weight: lighter;
  margin-left: 0.4rem;
}

.loginPage h1 {
  font-family: "Tilson", sans-serif;
}

.card p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  padding: 0.5rem;
  font-weight: lighter;
  font-family: "Basier Square Narrow", sans-serif;
  margin-left: 0;
  padding-left: 1rem;
}

.inputEdit {
  width: 17.4rem;
  border: none;
  margin-top: 0.6rem;
}

.textButtonUpdate {
  padding: 0.5rem 1.5rem;
  background-color: white;
  color: black;
  border: none;
  font-family: "Basier Square Narrow", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  font-weight: lighter;
  box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
}

.buttonCard {
  padding: 0.5rem 1.5rem;
  background-color: white;
  color: black;
  border: none;
  font-family: "Basier Square Narrow", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  font-weight: lighter;
  box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
    
}

.buttonCardEdit {
margin-right: 10px;
}

.spanButtonsCards {
  margin: 1rem;
  font-size: 0.8rem;
  background-color: none;
  display:inline
  }